doctype html
html lang="en"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title Joyful Puzzles
    link rel="preconnect" href="https://fonts.googleapis.com"
    link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=true
    link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet"
    link rel="stylesheet" href="/css/style.css"
    script type="module" src="/js/application.js"
  body
    header.top-nav
      .logo Joyful Puzzles
      nav
        a href="/" Home
    
    main.container
      == yield
