.tango-game data-controller="tango"
  h1 Tango
  p Balance the suns and moons.
  
  .tango-board data-tango-target="board"
    - @grid.size.times do |r|
      .tango-row
        - @grid.size.times do |c|
          - cell = @grid.cell_at(r, c)
          - is_hint = !cell.empty?
          .tango-cell data-row=r data-col=c data-action="click->tango#toggleCell" data-tango-target="cell" data-value=cell.value class=(is_hint ? 'hint' : '')
            span.tango-symbol
              - if cell.sun?
                | ☀️
              - elsif cell.moon?
                | 🌙
  
  .tango-constraints style="display: none;"
    - @grid.constraints.each do |constraint|
      .constraint data-tango-target="constraint" data-type=constraint[:type] data-c1=constraint[:cells][0].to_json data-c2=constraint[:cells][1].to_json
  
  div style="margin-top: 1rem;"
    button.button data-action="click->tango#validate" Check Rules
    a.button href="/tango?random=true" style="margin-left: 1rem; background-color: #555;" New Random Puzzle
    span data-tango-target="status" style="margin-left: 1rem; font-weight: bold;"
