= ui_card "Documentation"
  p Welcome to the Slim-Pickins Design System documentation.
  
  h3 Guides
  ul.sp-list
    li.sp-list__item
      a.sp-btn.sp-btn--primary href="/docs/quickstart" 🚀 Quick Start Guide
  
  h3 Core Components
  ul.sp-list
    li.sp-list__item
      a.sp-btn.sp-btn--neutral href="/docs/button" Button
    li.sp-list__item
      a.sp-btn.sp-btn--neutral href="/docs/card" Card
    li.sp-list__item
      a.sp-btn.sp-btn--neutral href="/docs/flash" Flash Message
    li.sp-list__item
      a.sp-btn.sp-btn--neutral href="/docs/form" Form Elements
    li.sp-list__item
      a.sp-btn.sp-btn--neutral href="/docs/list" Sortable List
    li.sp-list__item
      a.sp-btn.sp-btn--neutral href="/docs/toggle" Toggle Panel

  h3 Tools
  ul.sp-list
    li.sp-list__item
      a.sp-btn.sp-btn--primary href="/docs/playground" Interactive Playground
